body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ask__container,
.lounge__container {
    width: 80%;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}

.board__section {
    margin-bottom: 40px;
}

.board__title {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    background-color: #fdf6e4;
    border-radius: 10px;
    border: 1px solid #eedcbb;
    color: #cb9b51;
    font-weight: bold;
}

.post {
    background-color: #fdf6e4;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #eedcbb;
}

.post__title {
    font-size: 1em;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
}

.post__content {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 10px;
}

.divider {
    height: 1px;
    background-color: #eedcbb;
    margin: 10px 0;
}

.post__time {
    color: #999;
    font-size: 0.8em;
    margin-bottom: 10px;
}

.post__actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.post__actions span {
    margin-left: 10px;
    color: #999;
}

.comments::before {
    content: "💬";
    margin-right: 5px;
}